			<div class="container">
				<div class="row">
					<div class="col-md-5">
						<div class="widget widget-newsletter">
							<h4>NewsLetter</h4>
							<div class="desc">
								<p>Subscribe now if you want to recieve updates and news via email.</p>
							</div>
							<form action="" method="post" spellcheck="false">
								<input class="email-input" type="text" placeholder="Enter your email" autocomplete="off">
								<input class="email-submit" type="submit" value="SEND">
							</form>
						</div>
					</div>
					<div class="col-md-4">
						<div class="widget widget-meta">
							<h4>Meta</h4>
							<ul>
								<li>
									<a href="#" title="">Log in</a>
								</li>
								<li>
									<a href="#" title="">Entries RSS</a>
								</li>
								<li>
									<a href="#" title="">Comments RSS</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-md-3">
						<div class="widget">
							<h4>Archives</h4>
							<ul>
								<li>
									<a href="#" title="">Jul 2015</a>
								</li>
								<li>
									<a href="#" title="">Jun 2015</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<nav>
				<div class="copyright text-center">
					<p>Copyrights © 2015 All Rights Reserved by Xgio</p>
				</div>
			</nav>
