  <div class="container">
    <div class="logo text-center">
      <a href="javascript:;">
        <img src="images/logo.png" alt="Logo" title="">
      </a>
    </div>
  </div>
  <nav id="nav" class="navigation">
    <div class="container">
      <div id="controlBar" class="open-menu">
        <span class="item item-1"></span>
        <span class="item item-2"></span>
        <span class="item item-3"></span>
      </div>
      <ul id="sideBar" class="nav-menu">
        <li class="menu-item active more">
          <a href="index.html" title="">Home</a>
          <span class="item-toggle">
            <i class="fa fa-angle-right"></i>
          </span>
          <ul class="sub-menu">
            <li class="back-item">
              <a href="javascript:;" title="">Back</a>
            </li>
            <li class="menu-item">
              <a href="index.html" title="">Standard</a>
              <span class="item-toggle">
                <i class="fa fa-angle-right"></i>
              </span>
              <ul class="sub-menu">
                <li class="back-item">
                  <a href="javascript:;" title="">Back</a>
                </li>
                <li class="menu-item">
                  <a href="index.html" title="">FullWidth</a>
                </li>
                <li class="menu-item">
                  <a href="rightSidebar.html" title="">Right sidebar</a>
                </li>
                <li class="menu-item">
                  <a href="leftSidebar.html" title="">Left sidebar</a>
                </li>
              </ul>
            </li>
            <li class="menu-item">
              <a href="grid.html" title="">Grid</a>
              <span class="item-toggle">
                <i class="fa fa-angle-right"></i>
              </span>
              <ul class="sub-menu">
                <li class="back-item">
                  <a href="javascript:;" title="">Back</a>
                </li>
                <li class="menu-item">
                  <a href="grid.html" title="">FullWidth</a>
                </li>
                <li class="menu-item">
                  <a href="gridRightSidebar.html" title="">Right sidebar</a>
                </li>
                <li class="menu-item">
                  <a href="gridLeftSidebar.html" title="">Left sidebar</a>
                </li>
              </ul>
            </li>
            <li class="menu-item">
              <a href="list.html" title="">List</a>
              <span class="item-toggle">
                <i class="fa fa-angle-right"></i>
              </span>
              <ul class="sub-menu">
                <li class="back-item">
                  <a href="javascript:;" title="">Back</a>
                </li>
                <li class="menu-item">
                  <a href="list.html" title="">FullWidth</a>
                </li>
                <li class="menu-item">
                  <a href="listRightSidebar.html" title="">Right sidebar</a>
                </li>
                <li class="menu-item">
                  <a href="listLeftSidebar.html" title="">Left sidebar</a>
                </li>
              </ul>
            </li>
            <li class="menu-item">
              <a href="timeline.html" title="">Timeline</a>
              <span class="item-toggle">
                <i class="fa fa-angle-right"></i>
              </span>
              <ul class="sub-menu">
                <li class="back-item">
                  <a href="javascript:;" title="">Back</a>
                </li>
                <li class="menu-item">
                  <a href="timeline.html" title="">FullWidth</a>
                </li>
                <li class="menu-item">
                  <a href="timelineRightSidebar.html" title="">Right sidebar</a>
                </li>
                <li class="menu-item">
                  <a href="timelineLeftSidebar.html" title="">Left sidebar</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li>
          <a href="" title="">About</a>
        </li>
        <li>
          <a href="demo/list.html" title="">Demo</a>
        </li>
        <li class="menu-item mega-menu more">
          <a href="" title="">Mega menu</a>
          <span class="item-toggle">
            <i class="fa fa-angle-right"></i>
          </span>
          <ul class="sub-menu">
            <li class="menu-item">
              <div class="post">
                <img src="images/1.jpg" alt="" title="">
                <h3 class="post-title">
                  <a href="#">Ut sit amet massa</a>
                </h3>
                <span class="post-date">Jul 02, 2015</span>
              </div>
            </li>
            <li class="menu-item">
              <div class="post">
                <img src="images/2.jpg" alt="" title="">
                <h3 class="post-title">
                  <a href="#">Ut sit amet massa</a>
                </h3>
                <span class="post-date">Jul 02, 2015</span>
              </div>
            </li>
            <li class="menu-item">
              <div class="post">
                <img src="images/3.jpg" alt="" title="">
                <h3 class="post-title">
                  <a href="#">Ut sit amet massa</a>
                </h3>
                <span class="post-date">Jul 02, 2015</span>
              </div>
            </li>
            <li class="menu-item">
              <div class="post">
                <img src="images/1.jpg" alt="" title="">
                <h3 class="post-title">
                  <a href="#">Ut sit amet massa</a>
                </h3>
                <span class="post-date">Jul 02, 2015</span>
              </div>
            </li>
            <li class="menu-item">
              <div class="post">
                <img src="images/2.jpg" alt="" title="">
                <h3 class="post-title">
                  <a href="#">Ut sit amet massa</a>
                </h3>
                <span class="post-date">Jul 02, 2015</span>
              </div>
            </li>
          </ul>
        </li>
        <li>
          <a href="single.html" title="">Single</a>
        </li>
      </ul>
      <div class="share-box">
        <a href="https://github.com/cupteas/cupteas.github.io/" data-toggle="tooltip" title="Github" data-placement="top">
          <i class="fa fa-github"></i>
        </a>
        <a href="http://weibo.com/argevolle" title="">
          <i class="fa fa-weibo"></i>
        </a>
        <a href="javascript:;" title="">
          <i class="fa fa-weixin"></i>
        </a>
      </div>
      <div class="search-box">
        <form action="" method="get" class="search-form" spellcheck="false">
          <input type="search" placeholder="Search and hit enter" class="search-submit" autocomplete="off">
        </form>
        <a href="" title="" class="icon-search">
          <i class="fa fa-search"></i>
        </a>
      </div>
    </div>
  </nav>
